h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
  }

 p {
  font-family: 'Alef', sans-serif;
}

a{
    font-family: 'M PLUS 1p', sans-serif;
}


.header-body{
    background-color: #163F4E !important;
    border-bottom: 2px solid #AA8419 !important;

}

.header-container{
    background-color: #163F4E !important;
}


.nav-pills .nav-link{
    color: white !important;
    background-color: #163F4E !important;
}


.nav-pills .nav-link.active{
    color: #A26D32 !important;
    background-color: #A26D32 !important;
    text-decoration-color: #A26D32 !important;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: #A26D32 !important;
  background-color: #A26D32 !important;
  text-decoration-color:#A26D32 !important;
  border-color: #A26D32 !important;
}


.hor-hero{
    height: 400px !important;
    background: url("../img/houseofrep/about/About\ Us\ Header\ \(1\).jpg") no-repeat center/cover;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    padding: 50px 20px !important;
    color: white !important;
    padding-bottom: 30px !important;
    
}

.hor-hero-content{
    max-width: 800px !important;
}


.hor-hero h1{
    font-size: 3rem !important;
    margin-bottom: 20px !important;
    color: white !important;
    line-height: 50px !important;
}

.hor-hero p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
    color: white !important;
}

.hor-hero a.hor-btn{
    padding: 12px 30px;
    background-color: #7A5429 !important;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    transition: background 0.3s ease;
    margin-right: 10px;
}


.hor-hero a.hor-btn:hover{
    background-color: transparent !important;
    color:#7A5429 ;
    border: 2px solid #7A5429;
}



.essence-section {
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .content h1 {
    font-size: 36px;
    margin-bottom: 2rem;
    color: black;
  }
  
  .house-of-rep-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: #333;
    border: none;
    margin: 0 10px;
  }
  
  .house-of-rep-text {
    font-size: 36px;
    /* font-weight: bold; */
    white-space: nowrap;
    color: black;
  }
  
  .content p {
    max-width: 750px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.6;
    color: black;
    font-size: 18px;
    padding: 0 1rem;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 1.5rem;
    }
  
    .house-of-rep-text {
      font-size: 1.7rem;
    }
  
    .content p {
      font-size: 0.95rem;
      padding: 0 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .content h1,
    .house-of-rep-text {
      font-size: 1.3rem;
    }
  }



  .whyrep-section {

    background-color:#163F4E; 
    text-align: center;
    padding: 20px 20px;
  }
  
  .whyrep-button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .whyrep-subtitle {
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 36px;
    color: white;
  }
  
  .whyrep-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .whyrep-card {
    background: transparent;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: transform 0.3s;
  }
  
  .whyrep-card:hover {
    transform: translateY(-5px);
  }
  
  .whyrep-card-title {
    margin-top: 0;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .whyrep-card-desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
  }
  
  .whyrep-card-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 50px;
  }
  
  /* Responsive behavior */
  @media (max-width: 900px) {
    .whyrep-cards {
      flex-direction: column;
      align-items: center;
    }
  }

  .unique-wrapper-78 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    box-sizing: border-box;
  }

  /* Section styling */
  .custom-section-78 {
    text-align: center;
    /* background-color: #f5f5f5; */
    padding: 10px 20px;
    border-radius: 12px;
  }

  .custom-heading-78 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #333;
  }

  .custom-subheading-78 {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  /* Swiper Custom Styling */
 

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
  }

  .swiper-slide img {
    display: block;
    width: 300px;
    height: 400px;
  }

  /* .swiper-slide:nth-child(1n) {background-image: url(../img/houseofrep/about/Airnet\ Travels\ Image.jpg); }
  .swiper-slide:nth-child(2n) { background-color: rgb(0, 140, 255); }
  .swiper-slide:nth-child(3n) { background-color: rgb(10, 184, 111); }
  .swiper-slide:nth-child(4n) { background-color: rgb(211, 122, 7); }
  .swiper-slide:nth-child(5n) { background-color: rgb(118, 163, 12); }
  .swiper-slide:nth-child(6n) { background-color: rgb(180, 10, 47); }
  .swiper-slide:nth-child(7n) { background-color: rgb(35, 99, 19); }
  .swiper-slide:nth-child(8n) { background-color: rgb(0, 68, 255); }
  .swiper-slide:nth-child(9n) { background-color: rgb(218, 12, 218); }
  .swiper-slide:nth-child(10n) { background-color: rgb(54, 94, 77); } */

  @media (max-width: 600px) {
    .custom-heading-78 {
      font-size: 1.8rem;
    }
    .custom-subheading-78 {
      font-size: 1rem;
    }
    .swiper {
      width: 300px;
      height: 400px;
    }
  }

  .cta-wrapper{
    max-width: 1200px; /* Adjust section width here */
    margin: 0 auto;
    /* padding: 40px 20px; */
    
  }

  .cta-container {
    background-color: #17424D; /* Dark teal */
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    border-radius: 12px;
    margin: 20px;
  }

  .cta-heading {
    font-size: 1.5rem;
    /* font-weight: bold; */
    margin-bottom: 30px;
  }

  .cta-button {
    background-color: #7A5429; 
    color: white; 
     padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    transition: background 0.3s ease;
    
    margin-bottom: 30px;
  }

  .cta-button:hover {
    background-color: transparent !important;
    color: #7A5429 !important;
    border: 2px solid #7A5429;
  }

  .cta-subtext {
    font-size: 0.9rem;
    color: #d0d9dc;
    margin-top: 30px;
  }

  @media (max-width: 600px) {
    .cta-heading {
      font-size: 1.2rem;
    }
    .cta-button {
      width: 100%;
      max-width: 250px;
    }
    .cta-subtext {
      font-size: 0.8rem;
    }
  }


  
  .hof-footer {
    background-color: #0b3c4c;
    color: white;
    padding: 40px 20px 20px 20px;
  }
  
  .hof-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hof-footer-column {
    flex: 1 1 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* important: aligns everything to start */
  }
  
  .hof-footer-logo {
    font-size: 20px;
    margin-bottom: 15px;
    color: #C7AC81;
  }
  
  .hof-footer-description {
    font-size: 14px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
  }
  
  .hof-footer-socials {
    display: flex;
    gap: 10px;
  }
  
  .hof-footer-socials a img {
    width: 20px;
    height: 20px;
  }
  
  .hof-footer-heading {
    margin-bottom: 15px;
    font-size: 16px;
    color: #C7AC81;
  }
  
  .hof-footer-list,
  .hof-footer-contact {
    list-style: none;
    padding: 0; /* remove browser default padding */
    margin: 0;  /* remove browser default margin */
    width: 100%; /* make list full width under heading */
  }
  
  .hof-footer-list li,
  .hof-footer-contact li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .hof-footer-list li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .hof-footer-list li a:hover {
    color: #A26D32;
  }
  
  .hof-footer-bottom {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }
  
  .hof-footer-copy {
    margin-bottom: 10px;
  }
  
  .hof-footer-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
  }
  
  .hof-footer-links a:hover {
    color: #A26D32;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .hof-footer-container {
      flex-direction: column;
    }
  
    .hof-footer-bottom {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    .hof-footer-links {
      margin-top: 10px;
    }
  }


  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9000;
  }
  
  /* Show modal */
  .modal-overlay.show {
    display: flex;
  }
  
  /* Modal with animation */
  .mymodal {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
    position: relative;
    text-align: center;
    z-index: 1001;
    animation: modalFadeIn 0.3s ease-out;
  }
  
  /* Close button */
  .close-button {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  
  @media (max-width: 480px) {
    .modal {
      width: 90%;
      padding: 15px;
    }
  }

  .contact-form-z92 {
    flex: 1 1 45%;
    background-color: #aaa48b;
    padding: 30px 20px;
    border-radius: 20px;
    max-width: 400px;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-form-z92 h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
  }

  .contact-form-z92 form {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .contact-form-z92 input,
  .contact-form-z92 textarea {
    background-color: #eeeeee;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .contact-form-z92 textarea {
    resize: none;
    height: 70px;
  }

  .contact-form-z92 button {
    background-color: #123c4a;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }

  .contact-form-z92 button:hover {
    background-color: #0e2e39;
  }

  @media (max-width: 768px) {
    .contact-content-z92 {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .contact-info-z92, .contact-form-z92 {
      max-width: 100%;
      flex: 1 1 100%;
    }
    .contact-form-z92 {
        width: 90%; /* <-- ADDED THIS */
        max-width: none; /* <-- Remove 400px limit on mobile */
      }
  }

.rep-profile {
  width: 42%;
  text-align: center;
}

.rep-photo {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.rep-text {
  margin-top: 0.6rem;
}

.rep-name {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
  white-space: nowrap;
}

.rep-designation {
  font-size: 0.9rem;
  font-weight: 400;
  color: #555;
}

      /* footer-mobile and tablet responsive */
    /* Tablet: 2 columns */
@media (max-width: 1024px) {
  .hof-footer-column {
    flex: 1 1 45%;
    padding-left: 75px;
    padding-right: 75px;
    margin-left: 0 !important;
  }
}

/* Mobile: 1 column */
@media (max-width: 767px) {
  .hof-footer-container {
    flex-direction: column;
  }

  .hof-footer-column {
    flex: 1 1 100%;
    margin-left: 0 !important; /* remove inline left margins */
  }

  .hof-footer-socials {
    margin-bottom: 20px;
  }
}

@media(max-width:1064px){
.whyrep-card{
text-align: center !important;
align-items: center !important;
}

.content p{
  text-align: center !important;
  padding-top: 20px !important;
}
}

/* cards-section */
      .card-section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 10px;
      }

      .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      }

      .card {
        background: linear-gradient(135deg, #123c4a, #197b9c);
        color: #fff;
        border-radius: 20px;
        /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); */
        padding: 20px 20px;
        flex: 1 1 300px;
        max-width: 350px;
        text-align: center;
        opacity: 50;
        transform: translateY(40px);
        animation: fadeInUp 1s forwards;
        border-radius: 15px !important;
      }

      .card:nth-child(1) {
        animation-delay: 0.3s;
      }

      .card:nth-child(2) {
        animation-delay: 0.6s;
      }

      .card:nth-child(3) {
        animation-delay: 0.9s;
      }

      .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 14px 30px rgba(0, 0, 0, 0.3);
      }

      .card h3 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #fff;
        font-weight: normal;
      }

      .card p {
        font-size: 15px;
        line-height: 1.6;
        color: #e2e8f0;
      }

      @keyframes fadeInUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @media (max-width: 768px) {
        .card-container {
          flex-direction: column;
          align-items: center;
        }
      }